{% extends 'base.html' %}

{% block content %}
<div class="album">
    <div class="element_section mb50">
        <div class="back_page mb10"><a href="{{ url_for('.albums') }}">&larr; назад</a></div>

        <div class="section_title mb50 d-flex justify-content-between">
            <div class="block_title d-flex">
                <h3 class="mr-3 d-block">{{ album.name }}</h3>
                <p>({{ album.photos | length }} фото)</p>
            </div>
            <div class="block_action">
                <a class="btn btn-primary btn-rounded" href="/download-album/{{ album.id }}/">
                    скачать альбом
                </a>
                <a class="btn btn-primary btn-rounded" href="/delete-album/{{ album.id }}/"
                    onclick="return confirm('Точно удалить альбом со всеми фотографиями?');">удалить альбом
                </a>
            </div>
        </div>

        <div class="section_content mt30 row">

            <div class="album-description col-lg-8 col-md-8 col-12 mb50">
                <div class="section_title">
                    <h4>Описание альбома</h4>
                </div>
                <p>{{ album.description }}</p>
            </div>

            <div class="album_add_photo col-lg-8 col-md-8 col-12 mb50">
                <div class="section_title">
                    <h4>добавление фото</h4>
                </div>
                <form id="add-album" method="post" action="/upload-photos/" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

                    {% for element in form %}
                    {% if element.widget.input_type != 'hidden' %}

                    {{ element(placeholder=element.description, class_="form-control mb-3") }}

                    {% endif %}
                    {% endfor %}

                    <input type="submit" class="btn btn-primary" value="Добавить">
                </form>
            </div>

            <div class="album_photostream col-12">
                <div class="camera_tags mb10">
                    Камеры:
                    {% for device in devices %}
                        {% if device._id != None %}
                            <a href="/filter/{{ album.slug }}/{{ device._id }}">{{ device._id }}</a>
                            {% if loop.index < devices | length %}
                                |
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="photostream">
                    {% if photos.photos | length > 0 %}
                    <div class="gallery">
                        {% for photo in photos.photos %}
                            {% if photo.created %}
                                {% set created = photo.created | my_strftime %}
                            {% else %}
                                {% set created = '' %}
                            {% endif %}

                            <a href="/show-photo/{{ album.id }}/{{ photo.file }}/">
                                <figure class="picture" data-title="{{ photo.created }}" data-url="/get-photo/{{ album.id }}/{{ photo.file }}/min/"></figure>
                            </a>
                        {% endfor %}
                        <br style="clear: both;">
                    </div>
                    {% endif %}
                </div>

                <ul class="pagination justify-content-center pt-3">
                    {% if pages_total > 10 %}
                        {% if current_page >= 2 %}
                            {% if current_page + 10 < pages_total - 10 %}
                                {% for page in range(current_page-1, current_page + 10) %}
                                    {% if page == current_page %}
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">
                                                {{ page }}
                                            <span class="sr-only">(current)</span>
                                          </span></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="/album/{{ album.slug }}/?page={{ page }}">{{ page }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for page in range(current_page-1, pages_total + 1) %}
                                    {% if page == current_page %}
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">
                                                {{ page }}
                                            <span class="sr-only">(current)</span>
                                          </span></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="/album/{{ album.slug }}/?page={{ page }}">{{ page }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% else %}
                            {% for page in range(current_page, current_page + 10) %}
                                {% if page == current_page %}
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link">
                                            {{ page }}
                                        <span class="sr-only">(current)</span>
                                      </span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="/album/{{ album.slug }}/?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {% for page in range(1, pages_total + 1) %}
                            {% if page == current_page %}
                                <li class="page-item active" aria-current="page">
                                    <span class="page-link">
                                        {{ page }}
                                    <span class="sr-only">(current)</span>
                                  </span></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="/album/{{ album.slug }}/?page={{ page }}">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>

        </div>
    </div>
</div>
{% endblock %}