{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="container-fluid">
            <h1>
                <a href="/album/{{ photos.0.slug }}/">{{ photos.0.name }} ({{ photos.0.photos | length }})
            </h1>
            <p>{{ photos.0.description }}</p>
            <p>Фильтр: <strong>{{ filter }}</strong></p>
        </div>

        <hr>

        <div class="container-fluid">
            <section class="container">
                {% if photos | length > 0 %}
                    <div class="gallery">
                        {% for photo in photos %}
                            <a href="/show-photo/{{ photo._id }}/{{ photo.photos.file }}/">
                                <figure class="picture" data-title="{{ photo.photos.created | my_strftime }}" data-url="/get-photo/{{ photo._id }}/{{ photo.photos.file }}/min/"></figure>
                            </a>
                        {% endfor %}
                        <br style="clear: both;">
                    </div>
                {% endif %}
            </section>
        </div>
    </section>
{% endblock %}