{% extends 'base.html' %}

{% block content %}
<div class="photostream">
    <h3>Ваш фотопоток</h3>

    <div class="portfolio" id="gallery">
        <div class="container-fluid">
            <!--=================== masaonry portfolio start====================-->
            <div class="grid img-container justify-content-center no-gutters">
                {% if photos | length > 0 %}
                <div class="gallery">
                    {% for photo in photos %}

                    <a href="/show-photo/{{ photo._id }}/{{ photo.photos.file }}/">
                        {% if photo.photos.created %}
                            {% set created = photo.photos.created | my_strftime %}
                        {% else %}
                            {% set created = '' %}
                        {% endif %}
                        <figure class="picture glightbox2" data-title="{{ created }}"
                            data-url="/get-photo/{{ photo._id }}/{{ photo.photos.file }}/min/"></figure>
                    </a>
                    {% endfor %}
                    <br style="clear: both;">
                </div>
                {% endif %}
            </div>

            <ul class="pagination justify-content-center pt-3">
                {% for page in range(1, pages_total + 1) %}
                    {% if page == current_page %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">
                                {{ page }}
                            <span class="sr-only">(current)</span>
                          </span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>
</div>


{% endblock %}