<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,400italic'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ekko-lightbox.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fluid/css/style.css') }}">

    <title>Личный фотоархив</title>
</head>

<body>

<header id="top">

	<div class="container-fluid">

        <div class="row">

            <div class="col-lg-4 col-md-12 site-title">
                <a href="/"><h1>MyPhotos</h1></a>
                <h2>Личный фотоархив</h2>

            </div>

            {% if current_user.is_authenticated %}
                <div class="col-lg-8 col-md-12 main-menu">

                    <nav class="navbar navbar-light">
                      <ul class="nav navbar-nav single-page-nav">
                        <li class="nav-item">
                          <a class="nav-link external" href="/albums/">Альбомы</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#contact">Contact</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link external" href="/logout/" title="logout" target="_parent">Выйти</a>
                        </li>
                      </ul>
                    </nav>

                </div>
            {% endif %}

        </div>

        <div class="row">
            <div class="col-md-12">
            	<hr class="sigma-hr">
            </div>
        </div>

    </div>

</header>


{% block content %}
{% endblock %}

<footer>

	<div class="container-fluid">

    	<div class="row">
            <div class="col-md-12">
            	<hr class="sigma-hr">
            </div>
        </div>

        <div class="row">
        	<div class="sigma-copyright col-lg-8">
            	<p>Copyright © Dmitry Shoytov</p>
            </div>

            <div class="sigma-copyright col-lg-4 single-page-nav text-right">
            	<p><a href="#top">Go to top</a></p>
            </div>
        </div>

    </div>

</footer>

		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/ekko-lightbox.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.singlePageNav.min.js') }}"></script>

        <script src="{{ url_for('static', filename='fluid/js/latae.js') }}"></script>

        <script>
            $(document).ready(function(){
                $(".gallery").latae({
                    init : function() { console.log('bonjour'); },
                    loadPicture : function(event, img) { console.log($(img)); },
                    resize : function(event, gallery) { console.log(gallery); },
                    displayTitle: true
                });
            });
        </script>
</body>
</html>